* {
    font-family: RBCText, RBCDisplay;
}

body {
	width: 100%;
	height: 100%;
    margin: 0;
    padding: 0;
    font-family: rbc_textregular, rbc_displaymedium;
    background: #e8e4e1;
}

.mt15 {
	margin-top: 15px;
}

.mb15 {
	margin-bottom: 15px;
}

.row {
	padding: 0;
	margin: 0;
}

.wrapper {
	padding: 0 25px;
}

.green-panel {
	background-color: #b0b737;
	height: 100vh;
	margin-left: -15px;
	margin-right: -5px;
}

header {
	margin: 0 auto;
	height: 25vh;
  width: 100%;
}

.green-header-bg {
	background-color: #bec062;
}

header .header-content {
	display: table;
	width: 100%;
  height: 25vh;
}

header .header-content .verticle-middle {
  vertical-align: middle;
  width: 100%;
  margin-top: 11%;
}

header .header-content .rec-con {
	width: 10%;
  padding-top: 4px;
  padding-right: 5px;
	float: left;
}

header .header-content .rec-con .rectangle {
  width: 45px;
  height: 57px;
  float: right;
  margin-right: 7px;
}

.green-rec-bg {
	background-color: #b0b737;
}

header h1 {
    font-size: 72px;
    margin: 0px;
    color: #ffffff;
    margin-left: 0 !important;
    line-height: 1;
    font-family: rbc_textbold;
}

header span {
    font-size: 20px;
    margin: 0px;
    color: #ffffff;
    font-family: rbc_displaylightitalic;
    font-style: italic;
}

header p {
    font-size: 29px;
    margin: 0px;
    color: #000000;
    font-family: rbc_displaylightitalic;
    margin: 0 10%;
    font-style: italic;
    line-height: 1.2;
}

.image-content {
	background-color: #e8e4e1;
}

.image-content .row {
	margin: 0;
}

.image-content .image-big {
	padding: 15px 15px 15px 0;
}

.image-content .image-big img {
  width: 100%;
  height: 48vh;
}

.slider {
	max-width: 100%;
	height: 100%;
	position: relative;
}

.slide {
	position: absolute;
	width: 100%;
  height: 100%;
  background-size: cover;
}

.image-content .image-text {
	padding: 15px 0;
}

.image-content .image-text .text-content {
	height: 23vh;
}

.textbox {
  font-size: 19px;
  color: #ffffff;
  padding: 40px;
}

.textbox-border {
  display: flex;
  align-items: center;
  height: 100%;
}

.textbox-border-green {
  border: 2px solid #b0b737;
}

.textbox-border-blue {
  border: 2px solid #16baea;
}

.textbox-border-teal {
  border: 2px solid #458f95;
}

.textbox ul {
  list-style: none;
  padding-left: 0;
}

.textbox .textbox-title {
  font-weight: bold;
  font-family: rbc_displaybold;
  margin: 0;
}

.textbox li {
  display: flex;
}

.textbox li p {
  font-family: rbc_displaylight;
  margin: 0;
}

.textbox li .icon-green {
  color: #b0b737;
}

.textbox li .icon-blue {
  color: #16baea;
}

.textbox li .icon-teal {
  color: #458f95;
}

.textbox-large{
  font-size: 34px;
  padding: 0 100px;
}

.textbox-large .textbox-title {
  font-size: 36px;
}

.textbox-large li span {
  font-size: 30px;
  line-height: 2;
}

.green-text-bg {
	background-color: #617031;
}

.textbox-small {
  padding: 0 30px;
}

.textbox-small .textbox-title {
  font-size: 25px;
}

.textbox-small li {
  line-height: 1.7;
}

.textbox-small li p {
  font-size: 16px;
}

.textbox-small li span {
  font-size: 18px;
  line-height: 2;
}

.image-content .imageSmall {
  width: 100%;
  height: 24vh;
}

.scan-content {
	padding-top: 5%;
}

.scan-text {
  text-align: left;
  padding-left: 16%;
  padding-right: 30px;
}

.scan-img img {
  width: 100%;
}

.scan-code {
  padding-left: 0;
}

.pulse1 {
	animation: pulse1 8s infinite;
}

.pulse1:hover {
  animation: none;
}

@-webkit-keyframes pulse1 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(194,197,102, 1);
  }
  25% {
      -webkit-box-shadow: 0 0 0 15px rgba(194,197,102, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(194,197,102, 0);
  }
}

@keyframes pulse1 {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(194,197,102, 1);
    box-shadow: 0 0 0 0 rgba(194,197,102, 1);
  }
  25% {
      -moz-box-shadow: 0 0 0 15px rgba(194,197,102, 0);
      box-shadow: 0 0 0 15px rgba(194,197,102, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(194,197,102, 0);
      box-shadow: 0 0 0 0 rgba(194,197,102, 0);
  }
}

.scan-content .scan-text p {
	font-family: rbc_displaylight;
	font-size: 29px;
	color: #000000;
  margin-top: 1rem;
  font-weight: bold;
}

.blue-panel {
	background-color: #1bbbea;
	height: 100vh;
}

.blue-header-bg {
	background-color: #6ac5ea !important;
}

.blue-rec-bg {
	background-color: #1bbbea;
}

.blue-text-bg {
	background-color: #00427a;
}

.pulse2 {
	animation: pulse2 8s infinite;
}

.pulse2:hover {
  animation: none;
}

@-webkit-keyframes pulse2 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(110,202,241, 0);
  }
  35% {
      -webkit-box-shadow: 0 0 0 0 rgba(110,202,241, 1);
  }
  60% {
      -webkit-box-shadow: 0 0 0 15px rgba(110,202,241, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(110,202,241, 0);
  }
}

@keyframes pulse2 {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(110,202,241, 0);
    box-shadow: 0 0 0 0 rgba(110,202,241, 0);
  }
  35% {
      -moz-box-shadow: 0 0 0 0 rgba(110,202,241, 1);
      box-shadow: 0 0 0 0 rgba(110,202,241, 1);
  }
  60% {
      -moz-box-shadow: 0 0 0 15px rgba(110,202,241, 0);
      box-shadow: 0 0 0 15px rgba(110,202,241, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(110,202,241, 0);
      box-shadow: 0 0 0 0 rgba(110,202,241, 0);
  }
}

.teal-panel {
	background-color: #459096;
	height: 100vh;
	margin-left: -5px;
	margin-right: -15px;
}

.teal-header-bg {
	background-color: #72a2a8 !important;
}

.teal-rec-bg {
	background-color: #459096;
}

.yellow-text-bg {
	background-color: #ffca32;
	margin-bottom: 10px;
	color: #000000 !important;
}

.pulse3 {
	animation: pulse3 8s infinite;
}

.pulse3:hover {
  animation: none;
}

@-webkit-keyframes pulse3 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(118,166,173, 0);
  }
  70% {
      -webkit-box-shadow: 0 0 0 0 rgba(118,166,173, 1);
  }
  95% {
      -webkit-box-shadow: 0 0 0 15px rgba(118,166,173, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(118,166,173, 0);
  }
}

@keyframes pulse3 {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(118,166,173, 0);
    box-shadow: 0 0 0 0 rgba(118,166,173, 0);
  }
  70% {
      -moz-box-shadow: 0 0 0 0 rgba(118,166,173, 1);
      box-shadow: 0 0 0 0 rgba(118,166,173, 1);
  }
  95% {
      -moz-box-shadow: 0 0 0 15px rgba(118,166,173, 0);
      box-shadow: 0 0 0 15px rgba(118,166,173, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(118,166,173, 0);
      box-shadow: 0 0 0 0 rgba(118,166,173, 0);
  }
}


@keyframes fade
{
  0%   {opacity:1}
  100%   {opacity:0}
  0%   {opacity:1}
}
